@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

html {
    position: relative;
    min-height: 100%;}

body {
    background: url('../img/handmadepaper.png') repeat center center;
    font-family: 'Raleway', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 60px;}

#main-header {
    min-height: 80px;}

#main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;}    

#home h1 {
    border-bottom: 8px double #ddd;}

#actions .btn {
    min-width: 125px;}

#actions label {
    min-width: 150px;}

#view_item .btn,
#view_user .btn,
#edit_item .btn,
#edit_user .btn,
#add_item .btn,
#add_user .btn,
#withdraw_item .btn,
#replenish_item .btn {
    min-width: 82px;}
    
@media (max-width: 768px) {
    #actions .btn {
        width: 49%;}
    #actions .btn-secondary {
        margin-top: 8px;}   
}

@media (max-width: 992px) {
    #actions .btn {
        width: 49%;}
    #actions .btn-secondary {
        margin-top: 8px;}   
}